body, html {
    margin: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.header {
    color: #fff;
    width: 100%;
    height: 700px;
    background: url("img/bg1_new_02.jpg") no-repeat center;
    background-size: cover;
}

.menu {
    width: 70%;
    margin-left: 15%;
}

.top-header-menu {

    height: 140px;
    border-bottom: 2px solid #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.logo span:first-child {
    font-size: 10px;
}

.logo span:last-child {
    font-size: 32px;
}

.description {
    width: 200px;
    font-size: 10px;
}

.bottom-header-menu {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    list-style-type: none;
}

.contacts {
    font-size: 12px;
    color: #fff;
}

.contacts div a:first-child {
    color: #fff;
}
.contacts div:nth-child(2) {
    font-size: 18px;
}
.contacts div:nth-child(3) {
    font-size: 18px;
}

.top-button {
    border: 1px solid #fff;
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

.body-menu {
    width: 100%;
    height: 500px;
}

.body-menu-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.block_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block_1 div {
    text-align: center;
    font-size: 14px;
}

.block_2 {
    text-align: center;
    font-size: 14px;
    width: 400px;
}

.block_3 {
    height: 3px;
    width: 100px;
    border-bottom: 3px solid #fff;
}


.our_work {
    margin-top: 25px;
    width: 100%;
    text-align: center;
    color: black;
}

.our-work-wrapper {
    display: flex;
    height: 600px;
}

.section-1 {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1-wrap {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 90%;
    height: 70%;
}

.section-1-wrap-1 span:first-child {
    font-size: 28px;
}

.section-1-wrap-1 span:last-child {
    font-size: 32px;
    color: #0292c0;
    font-weight: bolder;
}

.section-1-wrap-2 {
    margin-left: 25%;
    font-size: 12px;
    text-align: justify;
    width: 300px;
}

.section-1-wrap-3 {
    width: 200px;
    height: 50px;
    border: 1px solid #e4e4e4;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.contact-form {
    display: flex;
    align-items: center;
}

input {
    height: 40px;
    background: #90a0b0;
    margin-right: 10px;
    font-size: 23px;
}

.checkbox {
    display: flex;
    align-items: center;
}

button {
    width: 200px;
    height: 50px;
    background: #0292c0;
    margin: auto;
    color: #fff;
    font-size: 16px;
}

.section-2 {
    flex: 1;
    background: url("img/firm_03.jpg");
}

.your-gift {
    font-size: 24px;
    text-transform: uppercase;
}
.what-gist {
    font-size: 54px;
    text-transform: uppercase;
    color: red;
}

.ooo-buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("img/bg_city_06.jpg");
    color: #fff;
}

.s-nami-vigodno {
    margin-top: 25px;
    width: 100%;
    height: 600px;
    text-align: center;
    color: black;
}


.s-nami-vigodno-wrapper {
    display: flex;
    height: 70%;
}

.s-nami-vigodno-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.s-nami-vigodno-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

 .s-nami-vigodno-1-1 span:first-child {
     color: #0292c0;
     font-size: 72px;
 }

 .s-nami-vigodno-1-1 span:nth-child(2) {
     color: black;
     font-size: 24px;
     font-weight: bolder;
 }

 .s-nami-vigodno-1-1 span:last-child {
     width: 200px;
     color: black;
     font-size: 12px;
 }


.process {
    width: 100%;
    height: 400px;
    background: url("img/propcess.png") no-repeat center;
    background-size: cover;
}

.footer-wrapper {
    background: cornflowerblue;
    color: #fff;
    display: flex;
    justify-content: space-around;
    height: 170px;
    align-items: center;
}

#zatemnenie {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#okno {
    width: 500px;
    height: 550px;
    text-align: center;
    padding: 15px;
    border: 3px solid darkred;
    border-radius: 10px;
    color: #0000cc;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}
#zatemnenie:target {display: block;}

.close {
    display: inline-block;
    border: 1px solid red;
    color: #0000cc;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
}
.close:hover {background: #e6e6ff;}

#ubludok {
    height: 100%;
    background: url("img/ubludok.jpeg") no-repeat center;
    background-size: contain;
}
